<a href="https://colab.research.google.com/github/Mochismo/LearnPython/blob/main/Eighteenth_Original.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Problem 1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib_inline
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
'/content/drive/MyDrive/application_test.csv'
'/content/drive/MyDrive/application_train.csv'

'/content/drive/MyDrive/application_train.csv'

In [3]:
# Loading the csv dataset
df = pd.read_csv("/content/drive/MyDrive/application_train.csv")
df = df.select_dtypes('number')
print(df.size)

32596166

In [4]:
# cleaning the dataset by filling the empty data(null)
cleaned_df = df.fillna(0)
print(cleaned_df.size)

32596166

In [9]:
#get only existing data with no missing values 
cleaned_df = cleaned_df[cleaned_df.columns[~cleaned_df.isnull().all()]]
cleaned_df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         0.0
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         0.0
307507      456252  ...                         0.0
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 106 columns]

In [19]:
cleaned_df['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [20]:
cleaned_df['CNT_CHILDREN'].value_counts()

0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
19         2
12         2
10         2
9          2
8          2
11         1
Name: CNT_CHILDREN, dtype: int64

In [24]:
#Changing CNT_CHILDREN group numbers to others(6)
cleaned_df["CNT_CHILDREN"]=cleaned_df["CNT_CHILDREN"].map({11:5,8:5,
                                                           9:5,10:5,12:5,19:5,14:5,
                                                           7:5, 6:5, 5:5, 4:4, 3:3,
                                                           2:2, 1:1, 0:0})

In [25]:
#Confirmation of change of groups
cleaned_df['CNT_CHILDREN'].value_counts()

0    215371
1     61119
2     26749
3      3717
4       429
5       126
Name: CNT_CHILDREN, dtype: int64

In [28]:
# Separated them into variables
X = cleaned_df.drop(['TARGET'], axis=1)
X = cleaned_df.drop(['SK_ID_CURR'], axis=1)
y = cleaned_df['TARGET']
print(y)

X = X.to_numpy()
kf = KFold(n_splits = 2)

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [29]:
for train_index, test_index in kf.split(X):
  print("TRAIN:", train_index, "TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = y[train_index], y[test_index]

TRAIN: [153756 153757 153758 ... 307508 307509 307510] TEST: [     0      1      2 ... 153753 153754 153755]
TRAIN: [     0      1      2 ... 153753 153754 153755] TEST: [153756 153757 153758 ... 307508 307509 307510]

In [31]:
# Standardizing the data
scaler = StandardScaler()
scaler.fit(X_train)
X_train_trans = scaler.transform(X_train)
X_test_trans = scaler.transform(X_test)

[Problem 2] Grid search

In [9]:
# checking which model and params are best 
model_params = {'random_forest':{'model': RandomForestClassifier(),'params': {'n_estimators': [1, 5,10]}},
        'logic_regression':{'model': LogisticRegression(solver="liblinear", multi_class = "auto"),'params': {'C': [1,5,10]}}}
# defining an arraay to store the scores
scores = []
for model_name, mp in model_params.items():
  clf = GridSearchCV(mp['model'], mp['params'], return_train_score= False)
  clf.fit(X_train_trans, y_train)
  scores.append({
      'model': model_name, 
      'best_score': clf.best_score_,
      'best_params': clf.best_params_})
best_model_params = pd.DataFrame(scores, columns= ['model', 'best_score', 'best_params'])
best_model_params

              model  best_score           best_params
0     random_forest    0.914137  {'n_estimators': 10}
1  logic_regression    0.918364              {'C': 1}

# Problem 3

1.   Hyperparameter Tuning using Grid search
2.   Gradient Boosting Machine
3.   Using one type of data
4.   Early Stopping

In [11]:
# Problem 4
import lightgbm as lgb

# creating an instance of the model
model = lgb.LGBMClassifier()

#Save the default parameters
default_params = model.get_params()
# number of folds
N_FOLDS = 5

#Creating a dataset
train_set = lgb.Dataset(data=X_train)

# Cross validation results when avoid overfitting
cv_results = lgb.cv(default_params, train_set, num_boost_round = 10000,
                    early_stopping_rounds = 1000, metrics = 'auc', nfold = N_FOLDS, seed =42)
#display the results
print("The maximum validation ROC AUC was : {:.5f}.".format(cv_results['auc-mean'][-1]))
print("The optimal number of boosting rounds (estimators was :{}.".format(len(cv_results['auc-mean'])))

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:430: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:741: UserWarning: silent keyword has been found in `params` and will be ignored.
Please use silent argument of the Dataset constructor to pass this parameter.
  .format(key))

The maximum validation ROC AUC was : 1.00000.
The optimal number of boosting rounds (estimators was :1.